{% extends 'base.html' %}
{% block title %}Delete Patient{% endblock %}
{% block page_title %}Delete Patient{% endblock %}

{% block content %}
<div class="card p-4" style="max-width: 500px;">
    <h6 class="fw-semibold mb-3">Confirm Delete</h6>
    <p>Are you sure you want to move <strong>{{ patient.name }}</strong> to trash?</p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'patients:patient_list' %}" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
{% endblock %}
